
sdk.dir=
# Clave para conectar con el Backend
APP_ID=
APP_SESSION_CACHE_TTL_MS=240000
# Conexión con el Backend de desarrollo por emulador
# MOVEON_BACKEND=LOCAL
# Conexión con el Backend de desarrollo por movil fisico
# MOVEON_BACKEND=LAN
MOVEON_LAN_BASE_URL=http://192.168.1.10:8000
# Conexión con el Backend de producción
MOVEON_BACKEND=PRODUCCION
MOVEON_PROD_BASE_URL=https://www.mibackend.com/
# Clave de la API Google Maps
MAPS_API_KEY=
# OAuth Google (Sign in with Google)
GOOGLE_WEB_CLIENT_ID=
#Activa o desactiva envío de diagnotisco para las actividades
DEBUG_ACTIVITIES=true
